= link_to_login 'ask a new question', url(:question_add)

%ul
  %li= link_to 'popular questions', url(:questions)
  %li= link_to 'latest questions', url(:recent_questions)
  %li= link_to 'latest answers', url(:recent_answers)
