%h2 Receive your login details by email
%pDid you forget your password? Enter your email to receive your login details:
= form_for('', :action => url(:user_require_password)) do
  = text_field :email, :label => "Email: "
  = submit "Send"
